@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #2B4074;
}

.header__container {
  padding: 9px 20px 5px 25px;
}

.header__container__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container__inner-btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 3px;
  border: none;
}

.header__container__inner-btn::after {
  display: block;
  position: relative;
  left: 12px;
  top: -4px;
  border-radius: 1px;
  content: "";
  height: 3px;
  width: 15px;
  background-color: #2B4074;
  -webkit-box-shadow: 0 5px 0 0 #2B4074, 0 10px 0 0 #2B4074;
          box-shadow: 0 5px 0 0 #2B4074, 0 10px 0 0 #2B4074;
}

@media (min-width: 640px) {
  .header__container {
    padding: 17px 30px 17px 53px;
  }
}

@media (min-width: 768px) {
  .header__container {
    padding: 17px 41px 17px 44px;
  }
}

@media (min-width: 1024px) {
  .header__container {
    padding: 17px 42px 17px 46px;
  }
}

@media (min-width: 1440px) {
  .header__container {
    padding: 17px 150px 17px 41px;
  }
}

.intro__container {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("/images/bg-img.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/bg-img.png");
  background-size: cover;
  background-position: center center;
  min-height: 193px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.intro__container-title {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 100;
}

.intro__container-btn {
  display: none;
  font-size: 18px;
}

.intro__container-description {
  display: none;
}

@media (min-width: 640px) {
  .intro__container {
    min-height: 386px;
  }
  .intro__container-title {
    font-size: 60px;
    line-height: 60px;
  }
  .intro__container-btn {
    display: block;
    background-color: #2B4074;
    border: none;
    padding: 16px 45px;
  }
  .intro__container-link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .intro__container-description {
    font-family: "Roboto Condensed", sans-serif;
    display: block;
    font-size: 18px;
    color: #fff;
    max-width: 580px;
  }
}

@media (min-width: 1024px) {
  .intro__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 623px;
  }
  .intro__container-title {
    font-size: 84px;
    line-height: 84px;
  }
  .intro__container-description {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1440px) {
  .intro__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 668px;
  }
  .intro__container-title {
    font-size: 96px;
    line-height: 96px;
  }
  .intro__container-description {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 30px;
    min-width: 886px;
  }
  .intro__container-link {
    font-size: 18px;
  }
  .intro__container-btn {
    padding: 20px 47px 18px 47px;
  }
}

.promo__container {
  background-color: #2B4074;
  min-height: 300px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__container-title {
  font-weight: 100;
  font-size: 24px;
  text-align: center;
  min-width: 220px;
  margin-bottom: 10px;
}

.promo__container-description {
  font-family: "Dosis", sans-serif;
  text-align: center;
  min-width: 260px;
  font-size: 16px;
}

.promo__container-btn {
  color: #2B4074;
  text-transform: uppercase;
  background-color: #fff;
  padding: 16px;
  border: none;
  border-radius: 5px;
  margin-top: 40px;
  max-width: 200px;
  height: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
}

@media (min-width: 640px) {
  .promo__container {
    min-height: 254px;
  }
  .promo__container-description {
    padding: 0px 30px;
  }
}

@media (min-width: 768px) {
  .promo__container {
    min-height: 187px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promo__container__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 427px;
    margin-right: 55px;
  }
  .promo__container-description {
    padding: 0;
    text-align: left;
  }
  .promo__container-btn {
    text-align: left;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .promo__container {
    min-height: 160px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 46px;
  }
  .promo__container-description {
    min-width: 500px;
  }
}

@media (min-width: 1440px) {
  .promo__container {
    min-height: 192px;
  }
}

.services__container {
  min-height: 2800px;
  padding: 25px 18px 40px 20px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  color: #2B4074;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 250px;
  margin-bottom: 40px;
}

.services__content-title {
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: normal;
}

.services__content-title::after {
  display: block;
  content: "";
  width: 100px;
  height: 8px;
  background-color: #2B4074;
  margin: 0 auto;
  margin-top: 20px;
}

.services__content-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin-top: 21px;
}

.services__content-subtitle::after {
  display: none;
  content: "";
  width: 100px;
  height: 8px;
  background-color: #2B4074;
  margin: 0 auto;
  margin-top: 20px;
}

.services__content-description {
  font-size: 15px;
  color: #797979;
  margin-top: 20px;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__items-item {
  border: 1px solid #d8d8d8;
  padding: 20px;
  position: relative;
  min-height: 312px;
  min-width: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__items-item:not(:first-child) {
  border-top: none;
}

.services__items-item:hover .services__items-details {
  display: block;
}

.services__items-item:hover::after {
  display: block;
  content: "";
  min-width: 90%;
  min-height: 90%;
  border: 3px solid #2B4074;
  position: absolute;
}

.services__items-caption, .services__items-details {
  margin-top: 30px;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.services__items-details {
  display: none;
}

.services__items-details a {
  text-decoration: none;
}

@media (min-width: 640px) {
  .services__container {
    min-height: 225px;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services__content-title {
    margin-top: 24px;
    font-size: 48px;
  }
  .services__content-title::after {
    display: none;
  }
  .services__content-subtitle {
    font-size: 24px;
    margin-top: 0px;
  }
  .services__content-subtitle::after {
    margin-top: 30px;
    display: block;
  }
  .services__content-description {
    font-size: 18px;
  }
  .services__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (320px)[2];
        grid-template-columns: repeat(2, 320px);
  }
  .services__items-item:nth-child(2) {
    border-top: 1px solid #d8d8d8;
  }
}

@media (min-width: 768px) {
  .services__container {
    min-height: 225px;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__content {
    padding-left: 46px;
  }
  .services__content-title {
    margin-top: 24px;
    font-size: 48px;
  }
  .services__content-title::after {
    display: none;
  }
  .services__content-subtitle {
    width: 100%;
    text-align: left;
    font-size: 24px;
    margin-top: 0px;
  }
  .services__content-subtitle::after {
    text-align: left;
    display: block;
    margin: 0;
    margin-top: 32px;
  }
  .services__content-description {
    font-size: 18px;
    text-align: left;
  }
  .services__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (380px)[2];
        grid-template-columns: repeat(2, 380px);
  }
  .services__items-item:nth-child(2) {
    border-top: 1px solid #d8d8d8;
  }
}

@media (min-width: 1024px) {
  .services__container {
    min-height: 912px;
  }
  .services__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (230px)[4];
        grid-template-columns: repeat(4, 230px);
    grid-gap: 10px;
  }
  .services__items-item {
    min-width: 230px;
    min-height: 270px;
  }
  .services__items-item:not(:first-child) {
    border-top: 1px solid #d8d8d8;
  }
}

@media (min-width: 1440px) {
  .services__container {
    min-height: 547px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 20px;
  }
  .services__content {
    height: 547px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__content-subtitle {
    margin-top: 64px;
  }
  .services__content-description {
    margin-top: 34px;
  }
  .services__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (230px)[4];
        grid-template-columns: repeat(4, 230px);
    grid-gap: 10px;
  }
  .services__items-item {
    min-width: 230px;
    min-height: 270px;
  }
  .services__items-item:not(:first-child) {
    border-top: 1px solid #d8d8d8;
  }
  .services__items-caption {
    font-size: 15px;
  }
  .services__items-details {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */