@import "vars.scss";
@import "fonts.scss";
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
//------------HEADER START------------//
.header {
	background-color: $mainColor;
	&__container {
		padding: 9px 20px 5px 25px;
		&__inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			&-btn {
				width: 40px;
				height: 40px;
				background-color: #fff;
				border-radius: 3px;
				border: none;
			}
			&-btn::after {
				display: block;
				position: relative;
				left: 12px;
				top: -4px;
				border-radius: 1px;
				content: "";
				height: 3px;
				width: 15px;
				background-color: $mainColor;
				box-shadow: 0 5px 0 0 $mainColor, 0 10px 0 0 $mainColor;
			}
		}
	}
}
@media (min-width: 640px) {
	.header__container {
		padding: 17px 30px 17px 53px;
	}
}
@media (min-width: 768px) {
	.header__container {
		padding: 17px 41px 17px 44px;
	}
}
@media (min-width: 1024px) {
	.header__container {
		padding: 17px 42px 17px 46px;
	}
}
@media (min-width: 1440px) {
	.header__container {
		padding: 17px 150px 17px 41px;
	}
}
//------------HEADER END------------//

//------------INTRO START------------//
.intro__container {
	background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('/images/bg-img.png');
	background-size: cover;
	background-position: center center;
	min-height: 193px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	&-title {
		font-family: "Roboto Condensed", sans-serif;
		text-transform: uppercase;
		font-size: 28px;
		line-height: 28px;
		color: #ffffff;
		font-weight: 100;
	}
	&-btn {
		display: none;
		font-size: 18px;
	}
	&-description {
		display: none;
	}
}
@media (min-width: 640px) {
	.intro__container {
		min-height: 386px;
		&-title {
			font-size: 60px;
			line-height: 60px;
		}
		&-btn {
			display: block;
			background-color: $mainColor;
			border: none;
			padding: 16px 45px;
		}
		&-link {
			text-decoration: none;
			color: #fff;
			text-transform: uppercase;
		}
	}
}
@media (min-width: 768px) {
	.intro__container {
		&-description {
			font-family: "Roboto Condensed", sans-serif;
			display: block;
			font-size: 18px;
			color: #fff;
			max-width: 580px;
		}
	}
}
@media (min-width: 1024px) {
	.intro__container {
		justify-content: center;
		min-height: 623px;
		&-title {
			font-size: 84px;
			line-height: 84px;
		}
		&-description {
			margin-top: 30px;
			margin-bottom: 10px;
		}
	}
}
@media (min-width: 1440px) {
	.intro__container {
		justify-content: center;
		min-height: 668px;
		&-title {
			font-size: 96px;
			line-height: 96px;
		}
		&-description {
			font-size: 28px;
			margin-top: 30px;
			margin-bottom: 30px;
			min-width: 886px;
		}
		&-link {
			font-size: 18px;
		}
		&-btn {
			padding: 20px 47px 18px 47px;
		}
	}
}
//------------INTRO END------------//

//------------PROMO START------------//
.promo__container {
	background-color: $mainColor;
	min-height: 300px;
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&-title {
		font-weight: 100;
		font-size: 24px;
		text-align: center;
		min-width: 220px;
		margin-bottom: 10px;
	}
	&-description {
		font-family: "Dosis", sans-serif;
		text-align: center;
		min-width: 260px;
		font-size: 16px;
	}
	&-btn {
		color: $mainColor;
		text-transform: uppercase;
		background-color: #fff;
		padding: 16px;
		border: none;
		border-radius: 5px;
		margin-top: 40px;
		max-width: 200px;
		height: 50px;
		font-style: normal;
		font-weight: 600;
		font-size: 15px;
	}
}
@media (min-width: 640px) {
	.promo__container {
		min-height: 254px;
		&-description {
			padding: 0px 30px;
		}
	}
}
@media (min-width: 768px) {
	.promo__container {
		min-height: 187px;
		flex-direction: row;
		align-items: center;
		&__inner {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			max-width: 427px;
			margin-right: 55px;
		}
		&-description {
			padding: 0;
			text-align: left;
		}
		&-btn {
			text-align: left;
			align-self: center;
			margin-top: 0;
		}
	}
}
@media (min-width: 1024px) {
	.promo__container {
		min-height: 160px;
		justify-content: space-between;
		padding: 0px 46px;
		&-description {
			min-width: 500px;
		}
	}
}
@media (min-width: 1440px) {
	.promo__container {
		min-height: 192px;
	}
}
//------------PROMO END------------//
